@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

body
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFF3FF;
}

.container
{
    width: 25%;
    height: 70%;
    overflow: hidden;
    background: #FFF;
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.container h3
{
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1.5px solid #CCC;
}

.container .input-view
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.container .input-view input
{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 700;
    border: 1.5px solid #CCC;
}

.container .input-view button
{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    background: rgb(15, 180, 15);
    border-radius: 5px;
    cursor: pointer;
}

.container p
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1.5px solid #CCC;
}

.container p i
{
    font-size: 17px;
    margin-right: 5px;
}

.container ul
{
    overflow-y: auto;
}

.container ul li
{
    width: 100%;
    list-style: none;
    margin: 10px 0;
    border: 1.5px solid #CCC;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #EFEFEF;
}

.container ul li span
{
    width: 100%;
}

.container ul li button
{
    font-size: 15px;
    background: transparent;
    cursor: pointer;
}

.container ul li button.task-complete
{
    margin-right: 10px;
}